*{
    margin: 0%;
    padding: 0%;
}

header{
    border: 2px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30%;
    background-color: #2D4356;
   
}


header img{
    width: 100px;
    height: 80px;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;
}

.navbar{
    text-decoration: none;
    color: rgb(174, 174, 181);
    font-weight: 700;

}

nav :hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

header a{
    text-decoration: none;
    color:#2c455b;
}
header h3{
    border: 2px solid rgb(34, 115, 208);
    border-radius: 5px;
    width: 80px;
    height: 35px;
    text-align: center;
    background-color: aliceblue;
    padding: 1px;
    
}


/*footer*/

div.container-footer.w-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 70%;
    padding-left: 20px;
    height: 110px;
  }
  
  div.container-footer.w-container:after {
    clear: both;
    content: "";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  
  
  
  
  h3.footer-titles {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
  }
  
  p.footer-links {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
  }
  
  div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
  }
  
  a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: .8;
    text-decoration: none;
  }
  
  a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
  }
  
  a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
  }
  
  img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;

  }
  
  p.footer-description {
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  
  strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
  }
  footer a{
    text-decoration: none;
    color: #556e93;
  }

  footer a :hover{
    cursor: pointer;
    color:white;
    
  }

  footer{
    background-color: #2c455b;
    
  }
 footer p{
    color: #FFFFFF;
 }
.right{
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80%;
    padding: 1%;
    font-size: large;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
}


.center{
    width: 300px;
    text-align: center;
    margin-left: 40%;
    font-size: medium; 
    
}


/*about us cards design*/
.cards{
  display: flex;
  
}

.card1{
  border: 2px solid rgb(146, 152, 161);
  width: 500px;
  height: 570px;
  margin-top: 20%;
  margin-left: 10%;
  background-image: url('../IMG/aboutus.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.card2{
  border: 2px solid rgb(146, 152, 161);
  width: 650px;
  height: 350px;
  margin-top: 27%;
  padding: 2%;
  text-align: center;
  background-color: #2c3d58;
  border-radius: 8px;
}
#p{
  margin-top: 13%;
}
 .cards h2{
  color: #b4bdc6;
 }
.cards p{
  margin-top:3% ;
  color: #b7c0c7;
  font-size:large;
}

.card2 :hover{
  cursor: pointer;
  background-color: #b7c0c7;
  color: #2c3d58;
}

/*goals cards
.container{
  display: flex;
  justify-content: space-around;
}
.card{
  border: 2px solid rgb(146, 152, 161);
  width: 250px;
  height: 250px;
  margin-top: 8%;
  padding: 2%;
  text-align: center;
}
 h1{
  margin-top: 18%;
  margin-left: 43%;
  font-size: xx-large;
 
}
*/
.container{
  display: flex;
  justify-content: space-around;
  margin-top:20%;
}
.myCard {
  background-color: transparent;
  width: 350px;
  height: 400px;
  perspective: 1000px;
  
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin: 0;
  font-size: larger;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}
.myCard img{
width: 150px;
height: 80px;
border-radius: 12px;
}
.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(245, 246, 248) 0%, rgb(184, 191, 205) 46%, rgb(4, 56, 115) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0e1972 0%, #5c6d98 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}