*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #292f38;
}
.container{
    display: flex;
    gap: 30%;
    justify-content: space-around;
    align-items: flex-end;
}
.online{
    border: 2px solid rgb(17, 97, 155);
    width: 400px;
    height: 350px;
    text-align: center;
    background-color: rgb(49, 131, 208);
    background-color:#fff;
}

.online img{
    width: 350px;
    height: 200px;
    margin-top: 10%;
}

.office img{
    width: 350px;
    height: 200px;
    margin-top: 10%;
}


.office{
    border: 2px solid rgb(17, 97, 155);
    width: 400px;
    height: 350px;
    text-align: center;
    background-color:#fff;
}

.container h3{
    color: #365074;
    margin-top: 3%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    color: rgb(188, 193, 199);
    margin-top: 10%;
    margin-left: 4%;
    margin-bottom: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    border: 2px solid black;
    width: 100px;
    height: 25px;
    background-color: #365074;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 7%;
}