*{
    margin: 0%;
    padding: 0%;
}

header{
   
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30%;
    background-color: #d5dcdf;
   
}


header img{
    width: 100px;
    height: 80px;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;
    font-family: 'Golos Text', sans-serif;
}

.navbar{
    text-decoration: none;
    color: rgb(40, 73, 106);
    font-weight: 700;

}

nav :hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(88, 96, 102);
}

header a{
    text-decoration: none;
    color:#2c455b;
}
header h3{
    border: 2px solid rgb(23, 84, 154);
    border-radius: 5px;
    width: 110PX;
    text-align: center;
    background-color: rgb(245, 247, 249);
    padding: 1px;
    font-family: 'Golos Text', sans-serif;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}













/*cards design*/
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
   
}

.par{
    text-align: center;
    color: #d9d9d9;
    margin-top: 21%;
    justify-content: center;
    
    
}
.container2{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}


.container3{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 20%;

}


.card1{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    background-color: #fff;
    height: 350px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
   
}



.card2{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    background-color: #fff;background-color: #fff;
    height: 350px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.card3{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
}
.card4{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.card5{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.card6{
    border: 2px solid  rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   

}
img{
    width: 300px;
    height: 350px;
    justify-content: center;
    border-radius: 20px;
 }   

 body{
   background-color: #375168;
 }

 .j p{
    text-align: center;
    color: #d9d9d9;
    margin-top: 7%;
    margin-bottom: 6%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    
 }
 .j  {
   width: 100%;
    background-color: #14394b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
 }

 .b h3{
    border: 2px solid rgb(249, 250, 250);
    width: 160px;
    text-align: center;
    padding: 2%;
    background-color: #c1c3c3;
    color: #253f56;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
 }

 .b{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
    font-family: 'Golos Text', sans-serif;
    width: 500px;
    
 }
