*{
    margin: 0%;
    padding: 0%;
}

header{
    border: 2px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30%;
    background-color: #2D4356;
   
}


header img{
    width: 100px;
    height: 80px;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;
}

.navbar{
    text-decoration: none;
    color: rgb(174, 174, 181);
    font-weight: 700;

}

nav :hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

header a{
    text-decoration: none;
    color:#2c455b;
}
header h3{
    border: 2px solid rgb(34, 115, 208);
    border-radius: 5px;
    width: 80px;
    height: 35px;
    text-align: center;
    background-color: aliceblue;
    padding: 1px;
    
}












/*cards design*/
.cards{

     gap: 15px;
    margin-top: 5%;
    width: 100%;
    border: 3px solid rgb(142, 30, 30);
    
   
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
   margin-top: 5%;
   width: calc(50%);
   border: 3px solid black;

}

.par{
    text-align: center;
    color: #fff;
    margin-top: 20%;
    
    
}

   


.card1{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    background-color: #fff;
    height: 350px;
   
}



.card2{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    background-color: #fff;background-color: #fff;
    height: 350px;
}


.card3{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    background-color: #fff;
  
}
.card4{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    background-color: #fff;

}

.card5{
    border: 2px solid rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    background-color: #fff;

}
.card6{
    border: 2px solid  rgb(148, 143, 143);
    margin-top: 13%;
    height: 350px;
    background-color: #fff;
   

}
img{
    width: 300px;
    height: 350px;
    justify-content: center;
 }   

 body{
   background-color: #375168;
 }